.background {
    /* background-color: blue; */
    background-image: url("~/assets/images/planet1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-top: 20%;
}

.card{ 
    margin: 5;
}

.icon_layout {
    border-radius: 2;
    margin: 1; 
    /* background-color: white;  */
    height: 40; 
    width: 40;
}

.auth_btn {
    margin: 5;
    /* background-image: url("~/assets/system/google_g.png"); */
    background-repeat: no-repeat;
    background-size: contain;
} 

.login_txt {
    margin: 10;
    color: white;
    font-size: 20;
    font-family: "HelveticaNeue Medium";
}

.inputs {
    color: white;
}

.sign_up {
    color: white;
    font-size: 18;
    font-family: "HelveticaNeue Medium";
    text-decoration: underline;
}