<FlexboxLayout class="background" alignItems="center" justifyContent="flex-start" flexDirection="column">
	<Button text="Create Menu" (tap)="createMenu()"></Button>
	<Button text="Create Menu Item" (tap)="createMenuItem()"></Button>
	<Button text="Create Addon" (tap)="createAddon()"></Button>
	<Button text="Create Order" (tap)="createOrder()"></Button>
	<Button text="Create Order Item" (tap)="createOrderItem()"></Button>
	<Button text="Create Card" (tap)="createCard()"></Button>
	<Button text="Create Payment" (tap)="createPayment()"></Button>
	<Button text="Clear Data (Except Users)" (tap)="clearData()"></Button>
	<Button text="Get All Menus and Print" (tap)="getAllMenus()"></Button>
</FlexboxLayout>